* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "Mulish";
}

header ul, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  margin: 0 auto;
  width: 1140px;
}

.start-career {
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  margin-top: 30px;
}

.text-big {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
header .logo {
  width: 124px;
  height: 38px;
  background-image: url(./assets/Course\ topics\ \(1\).svg);
  background-repeat: no-repeat;
}
header ul {
  width: 505px;
}
header ul li {
  list-style: none;
  font: 700 16px "Mulish";
}
header .btn-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 147px;
  height: 50px;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  border-radius: 33px;
  font: 700 16px "Mulish";
  color: #FFFFFF;
}

.first-section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first-section .right-side-video {
  width: 600px;
  height: 380px;
  background-image: url(./assets/Group\ 7.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.first-section .big-btn-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  height: 70px;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  border-radius: 33px;
  font: 700 16px "Mulish";
  color: #FFFFFF;
  margin-top: 70px;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.second-section .oval-img {
  width: 288px;
  height: 288px;
  background-image: url(./assets/Side\ Shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  left: -20px;
  top: 20px;
}
.second-section .statistic {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
  height: 172px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section .statistic div {
  text-align: center;
  width: 370px;
}
.second-section .statistic div:not(:last-child) {
  border-right: 1px solid #E7EAEB;
}

.third-section {
  margin: 0 auto;
  width: 1120px;
  height: 969px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  margin-top: 250px;
}
.third-section .our-advantages {
  width: 637px;
  height: 69px;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  margin: 0 auto;
}
.third-section .full-support {
  margin: 0 auto;
  font-family: "Mulish";
  width: 560px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  color: #4F596A;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-left: 200px;
  margin-bottom: 61px;
}
.third-section .block-one,
.third-section .block-two,
.third-section .block-three,
.third-section .block-four {
  width: 1120px;
  height: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(44.11deg, #73a9de 15.75%, #dbebff 84.63%);
  mix-blend-mode: normal;
  border-radius: 21px;
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.third-section .image-rectangle {
  width: 64px;
  height: 64px;
  background-image: url(./assets/Group\ 8.svg);
  background-repeat: no-repeat;
  position: relative;
  margin-left: 45px;
}
.third-section h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 451px;
  height: 24px;
  margin-bottom: 20px;
}
.third-section p {
  height: 48px;
  width: 960px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.third-section h1,
.third-section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-left: 32px;
}