* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'Mulish';

}

%flex-items {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0 auto;
    width: 1140px;
}

header {
    @extend %flex-items;
    align-items: center;
    padding: 10px 0;

    .logo {
        width: 124px;
        height: 38px;
        background-image: url(./assets/Course\ topics\ \(1\).svg);
        background-repeat: no-repeat;
    }

    ul {
        @extend %flex-items;
        width: 505px;

        li {
            list-style: none;
            font: 700 16px 'Mulish';
        }
    }

    .btn-sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 147px;
        height: 50px;
        background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
        border-radius: 33px;
        font: 700 16px 'Mulish';
        color: #FFFFFF;
    }




}

.first-section {
    justify-content: space-between;
    display: flex;

    .right-side-video {
        width: 590px;
        height: 360px;
        background-image: url(./assets/Group\ 7.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .big-btn-sign-up {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 206px;
        height: 70px;
        background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
        border-radius: 33px;
        font: 700 16px 'Mulish';
        color: #FFFFFF;
      }

    }





.second-section {
    display: flex;
    position: relative;

    .oval-img {
        width: 288px;
        height: 288px;
        background-image: url(./assets/Group\ 7\ \(1\).svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 2;
        left: -20px;
        top: 20px;
    }

    .statistic {
        width: 1000px;
        display: flex;
        height: 100px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        justify-content: space-between;
        background: #FFFFFF;
        border: 1px solid #E7EAEB;
        border-radius: 21px;
        height: 172px;
        align-items: center;

        div {
            text-align: center;
            width: 370px;
        }

        div:not(:last-child) {
            border-right: 1px solid #E7EAEB;
        }
    }

    .third-section {
        
        margin-top: 150px;
        margin-left: 400px;
        width: 1120px;
        display: flex;
        height: 969px;
        align-items: stretch;

        .our-advantages {
            flex-direction: column;
            width: 637px;
            height: 69px;
            top: 200px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;

        }

        .block-one {
            background-image: url(./assets/Group\ 8.svg)
            width: 64px;
            height: 64px;
           

    }

}